{erl_opts, [
    {parse_transform, lager_transform}

]}.
{deps, [
    {entop, {git, "https://github.com/mazenharake/entop.git", {tag, "0.4.0"}}}
    ,{brob,    {git, "https://github.com/klarna/brod.git", {tag, "3.7.2"}}}

    ,{lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.7"}}}
    ,{lager_kafka_backend, {git, "https://github.com/newforks/lager_kafka_backend.git", {branch, "master"}}}
    ,{recon, {git, "https://github.com/ferd/recon.git", {branch, "master"}}}
    ,{reloader, {git, "https://github.com/newforks/reloader.git", {branch, "master"}}}

]}.

{plugins, [
    { pc, {git, "https://github.com/blt/port_compiler.git", {tag, "1.6.0"}}}
]}.
