{erl_opts, [debug_info]}.

%{rebar_packages_cdn, "https://hexpm.upyun.com"}.



{deps, [
  {entop, {git, "https://github.com/mazenharake/entop.git", {branch, "master"}}}
  ,{observer_cli, {git, "https://github.com/zhongwencool/observer_cli.git", {branch, "master"}}}
  ,{mongodb, {git, "https://github.com/comtihon/mongodb-erlang.git", {branch, "master"}}}
  ,{lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}}
  ,{eredis_pool, {git, "https://github.com/hiroeorz/eredis_pool.git", {branch, "master"}}}
  ,{brod, {git, "https://github.com/klarna/brod.git", {branch, "master"}}}
  ,{worker_pool, {git, "https://github.com/inaka/worker_pool.git", {tag, "3.1.1"}}}
  ,{cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.4.0"}}}

]}.

{relx, [
  {release,
    { demo_erlang, "0.1.1" },
    [
      demo_erlang,
      sasl
    ]
  },

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}
]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
