{erl_opts, [
  debug_info
  ,{parse_transform, lager_transform}
]}.

{rebar_packages_cdn, "https://hexpm.upyun.com"}.




{deps, [
  {entop, {git, "https://github.com/mazenharake/entop.git", {tag, "0.4.0"}}}
  ,{observer_cli, {git, "https://github.com/zhongwencool/observer_cli.git", {tag, "1.3.3"}}}
  ,{mongodb, {git, "https://github.com/comtihon/mongodb-erlang.git", {tag, "v3.2.0"}}}
  ,{lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.4"}}}
  ,{eredis_pool, {git, "https://github.com/hiroeorz/eredis_pool.git", {branch, "master"}}}
  ,{brod, {git, "https://github.com/klarna/brod.git", {tag, "3.5.2"}}}
  ,{worker_pool, {git, "https://github.com/inaka/worker_pool.git", {tag, "3.1.1"}}}
  ,{cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.4.0"}}}

]}.

{relx, [
  {release,
    { demo_erlang, "0.1.0" },
    [
      cowboy,
      lager,
      demo_erlang,
      sasl
    ]
  },
  {release,
    { demo_lager, "0.1.0" },
    [
      lager,
      demo_lager,
      sasl
    ]
  },

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}
]}.

{profiles, [
  {prod, [{relx, [
    {dev_mode, false},
    {include_erts, true}
  ]}]},
  {cowboy, [{relx, [
    {release,
      { demo_erlang, "0.1.0" },
      [
        cowboy,
        demo_erlang,
        sasl
      ]
    },
    {dev_mode, false}
  ]}]},
  {lager, [{relx, [
    {dev_mode, false}
  ]}]}
  ]
}.
