{erl_opts, [debug_info]}.
{deps, [
  {reloader, {git, "https://github.com/newforks/reloader.git", {branch, "master"}}}
  ,{esockd, {git, "https://github.com/emqx/esockd.git", {tag, "v5.4.2"}}}
  ,{cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.5.0"}}}
  ,{websocket_client, {git, "https://github.com/jeremyong/websocket_client.git", {tag, "v0.7"}}}
]}.

{relx, [{release, { demo_socket, "0.1.0" },
         [demo_socket,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
