[
  {lager,
    [
      {handlers,
        [
          {lager_kafka_backend, [
            {level,                         "info"},
            {topic,                         <<"topic">>},
            {broker,                        [{"localhost", 9092}]},
            {send_method,                   async},
            {formatter,                     lager_default_formatter},
            {formatter_config,
              [date, " ", time, "|", node, "|",severity,"|", module, "|", function, "|", line, "|", pid, "|", message]
            }
          ]
          }
        ]
      }
    ]
  }
].