[
  { demo_erlang, []},

  {lager, [
    {log_root, "/tmp/hello"},
%%    version:lager 2.0+, Asynchronous mode
    {async_threshold, 20},
    {async_threshold_window, 5},
    {handlers, [
      %%{lager_console_backend, [{level, info}, {formatter, lager_default_formatter}
      %%{formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, "(", line, ") ", message, "\n"]}]},

      {lager_file_backend, [{file, "error.log"}, {level, error}, {formatter, lager_default_formatter},{size, 104857600}, {date, "$D0"}, {count, 15},
        {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, "(", line, ") ", message, "\n"]}]},

      {lager_file_backend, [{file, "notice.log"}, {level, notice}, {formatter, lager_default_formatter},{size, 104857600}, {date, "$D0"}, {count, 15},
        {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, "(", line, ") ", message, "\n"]}]},

      {lager_file_backend, [{file, "warning.log"}, {level, warning}, {formatter, lager_default_formatter},{size, 104857600}, {date, "$D0"}, {count, 15},
        {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, "(", line, ") ", message, "\n"]}]},


      {lager_file_backend, [{file, "critical.log"}, {level, critical}, {formatter, lager_default_formatter},{size, 104857600}, {date, "$D0"}, {count, 15},
        {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, "(", line, ") ", message, "\n"]}]},

      {lager_file_backend, [{file, "debug.log"}, {level, debug}, {formatter, lager_default_formatter},{size, 104857600}, {date, "$D0"}, {count, 15},
        {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, "(", line, ") ", message, "\n"]}]},

      {lager_file_backend, [{file, "alert.log"}, {level, alert}, {formatter, lager_default_formatter},{size, 104857600}, {date, "$D0"}, {count, 15},
        {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, "(", line, ") ", message, "\n"]}]},

      {lager_file_backend, [{file, "emergency.log"}, {level, emergency}, {formatter, lager_default_formatter},{size, 104857600}, {date, "$D0"}, {count, 15},
        {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, "(", line, ") ", message, "\n"]}]},

      {lager_file_backend, [{file, "info.log"}, {level, info}, {formatter, lager_default_formatter},{size, 104857600}, {date, "$D0"}, {count, 15},
        {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, "(", line, ") ", message, "\n"]}]}
    ]}
  ]}





].
