[
    {demo_brod, []},
    {lager, [

        {log_root, "/tmp/demo_brod"},
        {handlers, [
            {lager_console_backend,
                [
                    {level, warning}
                ]
            },
            {lager_file_backend,
                [
                    {file, "issue.log"},
                    {level, ">=debug"},
                    {size, 104857600},
                    {date, "$D0"},
                    {count, 30},
                    {formatter_config,
                        [date, " ", time, "(", node, ")[", severity, "]", module, ":", function, line, pid, ":", message, "\r\n"]
                    }
                ]
            }
        ]}
    ]},
    {reloader, [
        {check_time, 1}
    ]}
].
