{erl_opts, [
]}.

{rebar_packages_cdn, "https://hexpm.upyun.com"}.




{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.4.0"}}}
  ,{reloader, {git, "https://github.com/newforks/reloader.git", {branch, "master"}}}
%%  ,reloader
  % 依赖
  ,{recon, {git, "https://github.com/ferd/recon.git", {branch, "master"}}}


]}.
