{erl_opts, [debug_info]}.
{deps, [
    {gun, {git, "https://github.com/ninenines/gun.git", {tag, "1.3.0"}}}
    ,{reloader, {git, "https://github.com/newforks/reloader.git", {branch, "master"}}}
    ,{gutils, {git, "https://github.com/newforks/gutils.git", {branch, "master"}}}


]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [demo_gun]}
]}.
