[
  {demo_gun, []},
  {lager, [

    {log_root, "/tmp/demo_gun"},
    {handlers, [
      {lager_console_backend,
        [
          {level, warning}
        ]
      },
      {lager_file_backend,
        [
          {file, "issue.log"},
          {level, ">=warning"},
          {size, 104857600},
          {date, "$D0"},
          {count, 30}
        ]
      }
    ]}
  ]},
  {reloader, [
    {check_time, 1}
  ]}
].
